
/* 手机显示样式 */
.usImg02{
    width: 85%;
}

.usImg01{
    width: 85%;
}

.services01{
    text-align: center;
    width: 100%;

}
.services02{
    width: 80%;

}
.services02 div{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.services02 p{
    text-align: left;
    text-indent:2em;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.services02 span img{
    margin-top: 2rem;
}
.services03{
    width: 100%;
}
.services04{
    width: 80%;
    font-weight: bolder;
}
.services04 p{
    font-size: 110%;
    font-weight: bolder;
}
.Fanhui{
    background: #3379E5!important;
    font-size: 30px;
}
.footerImg{
    background: url("../images/pic01.jpg") no-repeat;
    overflow: hidden;
    background-size:cover;
    height: 60px;
    width: 100%;
}
.footerNum{
    background-color: #333;
    color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
}
.footerNuws1 div{
    display: none;
}
.footerNuws1 h2{
    color: white;
}
.footerNuws2 img{
    width: 60%;
    margin-bottom: 30px;
}
.footerNuws2 div{
    display: none;
}
.footerNuws3{
    display: none;
}
.fh5co-widget{
    text-align: center!important;
}
.courseImg{
    width: 100%;
    height: 100%;
    text-align: center;
}
.courseImg img{
    width: 80%;
}

/* PC端显示 */

@media (min-width: 768px){
    .carousel-control{
        font-size: 1rem;
        line-height: 13rem;
    }
    .usImg02{
        width: 145%;
        margin: -.5% 0 0 -27%;
    }
    .animate-box01{
        margin-top: -7rem;
    }
    .services02{
        text-align: left;
        font-size: 1rem;
        width: 100%;
        height: 6rem;
        /* margin-left: -0.5rem; */
    }
    .services02 div{
        font-size: .5rem;
        margin-bottom: 0.2rem;
    }
    .services02 p{
        font-size: .4rem;
        margin-bottom: 0rem;
    }
    .services02 span{
        display: block;
        text-align: right;
    }
    .services02 span img{
        margin-top: -.1rem;
        width: 2.5rem;
    }
    .services03{
        width: 90%;
        margin-left: -0.1rem;
    }
    .services04{
        width: 100%;
        text-align: left;
        margin-left: 8%;
    }
    .services04 p{
        margin-top: .8rem;
        font-size: .5rem;
        font-weight: bolder;
    }
    .courseImg{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .courseImg img{
        width: 80%;
    }

    .BUSINESSBox{
        margin-top: 1rem;
        width: 80%!important;
    }
    .Fanhui{
        background: #3379E5!important;
        font-size: 30px;
    }
    .block{
        border: 1px solid red;
        width: 100%;
    }
    .footerImg{
        background: url("../images/pic01.jpg") no-repeat;
        overflow: hidden;
        background-size:cover;
        height: 6rem;
        width: 100%;
    }
    .row-pb-md{
        padding-bottom: 30px!important;
    }
    .footerNuws1{
        margin-left: 2rem;
        padding-left: 1rem;
        height: 395px;
        background-color: #333;
        padding: 1rem;
    }
    .footerNuws1 h2{
        color: white;
        font-size: .6rem;
        margin-top: 20px;
    }
    .footerNuws1 p{
        font-size: 12px;
        line-height: 30px;
        margin: 0;
    }
    .footerNuws1 div{
        display: block;
        background: #3379E5;
        text-align: center;
        line-height: 30px;
        width: 100%;
        height: 30px;
        margin-left: -1rem;
        position: absolute;
        top: 0;
    }
    .footerNuws2{
        text-align: center;
        background-color: #333;
        padding: 0;
        height: 395px;
    }
    .footerNuws2 img{
        margin-top: 90px;
        margin-bottom: 30px;
        width: 68%;
    }
    .footerNuws2 p{
        font-size: 12px;
        line-height: 30px;
        margin: 0;
    }
    .footerNuws2 div{
        display: block;
        background: #3379E5;
        line-height: 30px;
        height: 30px;
    }
    .footerNuws3{
        display: block;
        text-align: center; 
        width: 32%;
        color: white;
        /* padding-right: 1rem; */
        margin-top: 150px;
    }
    .footerNuws3 h2{
        text-align: center;
        font-size: .8rem;
        width: 100%;
        color: white;
        margin-right: 1rem;
    }
    .footerNuws3 p{
        font-size: .4rem;
    }
    .footerHeader{
        background-color: #333;
        color: #999;
        position: absolute;
        top: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        float: left;
    }
    .footerNum{
        background-color: #333;
        color: #999;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    #fh5co-footer{
        padding: 0;
    }
    .scopeBox1{
        text-align: right;
    }
    .scopeBox img{
        margin-bottom: 10px;
    }
    #fh5co-course1111{
        margin-bottom: 5rem;
    }
    #fh5co-testimonial{
        height: 400px;
    }
    .headingBox{
        background: #008fcb;
        width: 100%;
        margin-left: 0%;
        margin-top: -210px;
        /* padding-top: 60%; */
        height: 400px;
        text-align: left;
    }
    .headingBox img{
        margin-top: -70px;
        margin-left: 10px;
        width: 50%;
        float: left;
    }
    .headingBox div{
        float: left;
        width: 40%;
        padding-left: 2%;
        /* height: 100%; */
        border: 1px solid red;
    }
    .headingBoxP{
        color: white;
        font-size: 26px;
    }
    .headingBoxImg{
        float: none!important;
    }
}