.courseBoxD1 :nth-child(1){
    width: 100%;
}
/* .courseBoxD1 :first{
    width: 100%;
    color: rgb(26, 136, 209);
} */
.courseBoxD1 :nth-child(2){
    width: 50%;
    text-align: right;
    /* color: rgb(26, 136, 209); */
}


.courseBoxD3{
    width: 100%;
    float: left;
}
.courseBoxD3 div{
    width: 20%;
    float: left;
    margin: 10px 6%;
    text-align: center;
}
.courseBoxD3 p{
    padding-top:20px;
    font-weight: bold;
}
.courseBoxD3 img{
    width: 100%
}
.courseBoxD2{
    font-size: 1.5rem;
}
.courseBoxD2 :nth-child(1){
    width: 100%
}
.courseBoxD2 :nth-child(2){
    text-align: right;
    width: 100%
}
.courseBoxD21{
    /* height: 70px;     */
    text-align: left;
}
.courseBoxD21 p{
    padding-left: 0!important;
}
.courseBoxD21 div{
    display: none;
}

@media (min-width: 768px){
    .courseBoxD1{
        font-size: 12px;
    }
    .courseBoxD1 :nth-child(1){
        width: 70%;
        font-size: .6rem;
    }
    .courseBoxD1 :nth-child(2){
        width: 20%;
        text-align: right;
        font-size: .6rem;
    }
    .courseBoxD21{
        text-align: left;
    }
}
@media (min-width: 992px){
    .courseBoxD21{
        text-align: left;
    }
    .courseBoxD21 div{
        width: 130px!important;
        position: absolute;
        margin-top: 32px;
        float: none;
        border: 1px solid rgb(26, 136, 209);
    }
    .courseBoxD1 :nth-child(1){
        width: 70%;
        font-size: .45rem;
    }
    .courseBoxD1 :nth-child(2){
        width: 20%;
        text-align: right;
        font-size: .45rem;
    }
}
@media (min-width: 1200px){
    .courseBoxD1 :nth-child(1){
        width: 70%;
        font-size: 16px
    }
    .courseBoxD1 :nth-child(2){
        width: 20%;
        text-align: right;
        font-size: 16px;
    }
    .courseBoxD21 div{
        width: 150px!important;
        position: absolute;
        margin-top: 32px;
        float: none;
        border: 1px solid rgb(26, 136, 209);
    }
    .courseBoxD21{
        height: 70px;    
        text-align: left;
    }
}