.ceterBox1{
    text-align: center;
}
.ceterBox1 img{
    width: 80%;
}
.ceterBox2{
    padding-left: 10%;
    padding-top: 3rem;
}
.ceterBox2 span{
    font-size: 1rem;
}
.ceterBox2 p{
    font-size: .5rem;
    width: 90%;
    /* text-indent: 2em; */
}
.ceterBox3{
    text-align: center;
}
.ceterBox3 img{
    width: 80%;
}
.ceterBox4{
    padding-left: 10%;
    padding-top: 3rem;
}
.ceterBox4 span{
    font-size: 1rem;
}
.ceterBox4 p{
    font-size: .5rem;
    width: 90%;
    /* text-indent: 2em; */
    /* border: 1px solid red; */
}
/* #dropdownBox{
    display: none;
} */



/* =====================================================PC端显示=================================================== */

@media (min-width: 768px){
    .ceterBox1{
        text-align: center;
    }
    .ceterBox1 img{
        width: 70%;
        /* border: 1px solid red; */
    }
    .ceterBox2{
        padding-left: 10%;
        padding-top: 30px;
    }
    .ceterBox2 span{
        font-size: 1rem;
    }
    .ceterBox2 p{
        font-size: .6rem;
        margin-bottom:9px;
        width: 80%;
        /* text-indent: 2em; */
        /* border: 1px solid red; */
    }
    .ceterBox3{
        padding-top: 80px;
        text-align: center;
    }
    .ceterBox3 img{
        width: 70%;
        /* border: 1px solid red; */
    }
    .ceterBox4{
        padding-left: 10%;
        padding-top: 30px;
        padding-top: 80px;
    }
    .ceterBox4 span{
        font-size: 1rem;
    }
    .ceterBox4 p{
        font-size: .6rem;
        margin-bottom:9px;
        width: 80%;
        /* text-indent: 2em; */
        /* border: 1px solid red; */
    }
    /* #dropdownBox{
        padding-top: 10px;
        position: absolute;
        right: 6%;
        width: 3rem;
        height: 4rem;
        z-index: 1;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    } */
    /* #dropdownBox div{
        width: 100%;
        height: 25%;
    }
    #dropdownBox a{
        color: white;
    } */
}
@media (min-width: 992px){
    .ceterBox2{
        padding-left: 0;
        padding-top: 0;
    }
    .ceterBox2 span{
        font-size: .8rem;
    }
    .ceterBox2 p{
        font-size: .4rem;
    }
    .ceterBox4{
        padding-left: 0;
        padding-top: 40px;
    }
    .ceterBox4 span{
        font-size: .8rem;
    }
    .ceterBox4 p{
        font-size: .4rem;
    }
}
@media (min-width: 1200px){
    .ceterBox2{
        /* border: 1px solid red; */
        height: 410px;
        padding-left: 0;
    }
    .ceterBox2 p{
        width: 100%;
        font-size: 16px;
    }
    .ceterBox4{
        padding-left: 0;
        padding-top: 10px;
    }
    .ceterBox4 p{
        width: 100%;
        font-size: 16px;
    }
}