.courseBoxD3{
    width: 100%;
    float: left;
}
.courseBoxD3 div{
    width: 20%;
    float: left;
    margin: 10px 33px;
    text-align: center;
}
.courseBoxD3 p{
    padding-top:20px;
    font-weight: bold;
}
.courseBoxD3 img{
    width: 100%
}